@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* {
  border: 1px solid red;
}

body {
  border: 2px dashed blue;
} */

.overlay-bg {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      253deg,
      rgba(255, 255, 255, 0) 11%,
      rgba(0, 0, 0, 1) 99%,
      rgba(17, 17, 17, 1) 100%
    );
  }